* {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --background-tag: white;
  --background-back: #2B3743;
  --box-shadow: none;
  --background-color: #202D36;
}

body {
  background-color: var(--background-color);
}

body.white {
  --background-color: #FAFAFA;
  --background-tag: hsl(200, 15%, 8%);
  --background-back: #FFFFFF;
  --box-shadow: 0px 0px 2px 0px grey;
}

header {
  background-color: var(--background-back);
  box-shadow: var(--box-shadow);
}

header .nav {
  color: var(--background-tag);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}

header .nav h4 {
  font-weight: 600;
  margin-bottom: 0;
}

header .nav p {
  margin-bottom: 0;
  font-size: 14px;
  cursor: pointer;
}

header .nav p span {
  font-size: 13px;
  padding-right: 5px;
  pointer-events: none;
}

main {
  position: relative;
}

main #search .search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main #search .search form .one {
  color: var(--background-tag);
  background-color: var(--background-back);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

main #search .search form .one i {
  padding: 0 10px;
  font-size: 13px;
}

main #search .search form .one input {
  border: none;
  outline: none;
  background-color: var(--background-back);
  color: var(--background-tag);
  font-size: 13px;
}

main #search .search form .one input::placeholder {
  color: var(--background-tag);
}

main #search .search form .two {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

main #search .search form .two .dropdown button {
  font-size: 13px;
  padding: 10px;
  background-color: var(--background-back);
  border: none !important;
  outline: none !important;
  color: var(--background-tag);
}

main #search .search form .two .dropdown .dropdown-menu {
  background-color: var(--background-back);
  top: 2% !important;
}

main #search .search form .two .dropdown .dropdown-menu a {
  color: var(--background-tag);
}

main #search .search form .two .dropdown .dropdown-menu a:hover {
  background-color: var(--background-back);
}

main #countries .padding {
  padding: 0 1.5rem;
}

main #countries .cart {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

main #countries .img-box {
  border-radius: 5px 5px 0px 0px !important;
  overflow: hidden !important;
  cursor: pointer;
}

main #countries .img-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

main #countries .content {
  padding: 1rem;
  color: var(--background-tag);
  background-color: var(--background-back);
  border-radius: 0px 0px 5px 5px;
}

main #countries .content ul {
  margin-left: 0;
  padding-left: 0;
  font-size: 12px;
}

main #countries .content ul li {
  list-style: none;
}

main #countries .content ul li span {
  color: #a09999;
}

main #info {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}

main #info .back {
  color: var(--background-tag);
  display: flex;
  align-items: center;
  background-color: var(--background-back);
  display: inline-block;
  flex-direction: row;
  padding: 8px 29px;
  border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

main #info .back p {
  margin-bottom: 0;
  padding-left: 10px;
  display: inline-block;
}

main #info .big-img img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

main #info h1 {
  color: var(--background-tag) !important;
  margin-bottom: 4rem;
}

main #info .p {
  padding: 0 5rem;
}

main #info .big-info {
  color: var(--background-tag);
  display: flex;
  justify-content: space-between;
}

main #info .big-info ul {
  padding-left: 0;
  margin-left: 0;
}

main #info .big-info ul li {
  list-style: none;
  font-size: 14px;
}

main #info .borders {
  color: var(--background-tag);
}

main #info .borders p {
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 14px;
}

main #info .first span,
main #info .second span {
  color: #7b7777;
  font-weight: 300px;
  font-size: 13px;
}

main #info .borders p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main #info .borders span {
  padding: 0px 10px;
  border-radius: 4px;
  background-color: var(--background-back);
  margin-left: 10px;
  line-height: 2rem;
  font-size: 13px;
  margin-bottom: 5px;
}

main #info .borders .border-show {
  justify-content: flex-start;
}

main #info .borders .border-show span {
  box-shadow: var(--box-shadow);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #info {
    padding: 0 4rem;
  }
  #info h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  #info img {
    padding: 0 3rem;
  }
  #info .b {
    text-align: center;
  }
}

@media only screen and (max-device-width: 767px) {
  form {
    flex-direction: column;
    align-items: flex-start !important;
  }
  form .one {
    display: flex;
    align-items: center;
  }
  .two {
    margin-top: 2rem;
  }
  #countries {
    padding: 0 3rem;
  }
  .first li, .second li {
    font-size: 12px !important;
  }
  #info img {
    padding: 3rem;
  }
  #info h1 {
    margin-bottom: 1rem !important;
    text-align: center;
  }
  #info .p {
    padding: 0 1rem !important;
  }
  #info .big-info {
    justify-content: space-between !important;
  }
  #info .b {
    text-align: center;
  }
  #info .border-show {
    justify-content: center !important;
  }
}
