* {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --background-tag: white;
    --background-back: #2B3743;
    --box-shadow: none;
    --background-color: #202D36;
}

body {
    background-color: var(--background-color);
}

body.white {
    --background-color: #FAFAFA;
    --background-tag: hsl(200, 15%, 8%);
    --background-back: #FFFFFF;
    --box-shadow: 0px 0px 2px 0px grey;
}

header {
    background-color: var(--background-back);
    box-shadow: var(--box-shadow);


    .nav {
        color: var(--background-tag);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 0;

        h4 {
            font-weight: 600;
            margin-bottom: 0;
        }


        p {
            margin-bottom: 0;
            font-size: 14px;
            cursor: pointer;

            span {
                font-size: 13px;
                padding-right: 5px;
                pointer-events: none;
            }
        }
    }
}

main {
    position: relative;


    #search {
        .search {
            form {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .one {
                    color: var(--background-tag);
                    background-color: var(--background-back);
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: var(--box-shadow);

                    i {
                        padding: 0 10px;
                        font-size: 13px;
                    }

                    input {
                        border: none;
                        outline: none;
                        background-color: var(--background-back);
                        color: var(--background-tag);
                        font-size: 13px;
                        // min-width: 300px;
                        // max-width: 300px;

                        &::placeholder {
                            color: var(--background-tag);
                        }
                    }
                }

                .two {

                    border-radius: 5px;
                    box-shadow: var(--box-shadow);



                    .dropdown {

                        button {
                            font-size: 13px;
                            padding: 10px;
                            background-color: var(--background-back);
                            border: none !important;
                            outline: none !important;
                            color: var(--background-tag);
                        }

                        .dropdown-menu {
                            background-color: var(--background-back);
                            top: 2% !important;

                            a {
                                color: var(--background-tag);

                                &:hover {
                                    background-color: var(--background-back);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #countries {
        .padding {
            padding: 0 1.5rem;

        }

        .cart {
            box-shadow: var(--box-shadow);
            border-radius: 5px;
        }

        .img-box {
            border-radius: 5px 5px 0px 0px !important;
            overflow: hidden !important;
            cursor: pointer;
            // max-height: 158px;
            // min-height: 158px;

            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
        }

        .content {
            padding: 1rem;
            color: var(--background-tag);
            background-color: var(--background-back);
            border-radius: 0px 0px 5px 5px;

            ul {
                margin-left: 0;
                padding-left: 0;
                font-size: 12px;

                li {
                    list-style: none;

                    span {
                        color: rgb(160, 153, 153);
                    }
                }
            }
        }
    }

    #info {
        background-color: var(--background-color);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        display: none;



        .back {
            color: var(--background-tag);
            display: flex;
            align-items: center;
            background-color: var(--background-back);
            display: inline-block;
            flex-direction: row;
            padding: 8px 29px;
            border-radius: 4px;
            margin-bottom: 1rem;
            cursor: pointer;
            box-shadow: var(--box-shadow);



            p {
                margin-bottom: 0;
                padding-left: 10px;
                display: inline-block;
            }
        }

        .big-img {
            img {
                width: 100%;
                height: 290px;
                object-fit: cover;
            }
        }

        h1 {
            color: var(--background-tag) !important;
            margin-bottom: 4rem
        }

        .p {
            padding: 0 5rem;
        }

        .big-info {
            color: var(--background-tag);
            display: flex;
            justify-content: space-between;

            ul {
                padding-left: 0;
                margin-left: 0;

                li {
                    list-style: none;
                    font-size: 14px;
                }
            }
        }

        .borders {
            color: var(--background-tag);

            p {
                margin-bottom: 0;
                margin-top: 1rem;
                font-size: 14px;
            }
        }

        .first,
        .second {
            span {
                color: rgb(123, 119, 119);
                font-weight: 300px;
                font-size: 13px;
            }
        }

        .borders {

            p {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

            span {
                padding: 0px 10px;
                border-radius: 4px;
                background-color: var(--background-back);
                margin-left: 10px;
                line-height: 2rem;
                font-size: 13px;
                margin-bottom: 5px;
            }

            .border-show {
                justify-content: flex-start;

                span {
                    box-shadow: var(--box-shadow);
                }
            }
        }
    }


}


@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    #info{
        padding: 0 4rem;
        h1 {
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

        img{
            padding: 0 3rem;
        }

        .b{
            text-align: center;
        }
    }
}


@media only screen and(max-device-width: 767px){

    
    form{
        flex-direction: column;
        align-items: flex-start !important;

        .one{
            display: flex;
            align-items:center
        }
    }

    .two{
        margin-top: 2rem;
    }

    #countries{
        padding: 0 3rem;
    }

    .first li, .second li{
        font-size: 12px !important;
    }
    // .one{
    //     display: flex;
    //     align-items: center;
    //     min-width: 0px;
    // }

    // .two{
    //     height: 100%;
    // }

    #info{
        img{
            padding: 3rem;
        }

        h1{
            margin-bottom: 1rem !important;
            text-align: center;
        }

        .p{
            padding: 0  1rem!important;
            
        }

        .big-info{
            justify-content: space-between !important;
        }
        .b{
            text-align: center;
        }

        .border-show{
            justify-content: center !important;
        }
    }
}

